.assignments {
	border: 2px solid black;
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	& .assignments__title {
		font-size: 36px;
		font-weight: 500;
		margin: 30px 0;
		background-color: black;
		border-radius: 5px;
		padding: 20px;
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
	}

	& .assignments__wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		background-color: white;
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
		color: black;
		font-size: 24px;
		border-radius: 10px;
		padding: 30px;
		margin-bottom: 50px;
		max-width: 900px;

		& .assignments__homeworks__wrapper {
			background-color: peachpuff;
			height: 100%;
			border: 2px solid black;
			border-radius: 10px;
			padding: 10px;
			margin-right: 10px;
			text-align: left;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;

			& .assignments__homeworks__title {
				text-align: center;
				font-size: 30px;
				border-radius: 10px;
				padding: 10px;
				width: 200px;
				text-decoration: underline;
				font-weight: 600;
			}

			& .assignments__homeworks__entry {
				margin: 10px;
			}
		}

		& .assignments__exams__wrapper {
			background-color: paleturquoise;
			height: 100%;
			border: 2px solid black;
			border-radius: 10px;
			padding: 10px;
			margin-left: 10px;
			text-align: left;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;

			& .assignments__exams__title {
				text-align: center;
				font-size: 30px;
				border-radius: 10px;
				padding: 10px;
				width: 200px;
				text-decoration: underline;
				font-weight: 600;
			}

			& .assignments__exams__entry {
				margin: 10px;
			}
		}
	}
}
