.home {
	display: flex;
	flex-direction: column;

	& .home__header {
		height: 400px;
		padding: 50px;
		color: black;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		& .home__header--title {
			font-size: 36px;
			font-weight: 700;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
				sans-serif;
			margin-bottom: 40px;
		}
		& .home__header--text {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		& .home__header--link {
			padding: 10px;
			background-color: lightgreen;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 22px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	& .home__main {
		background-color: palevioletred;
		height: 400px;
	}

	& .home__footer {
		background-color: black;
		height: 200px;
	}
}
