* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app {
	background-color: darkseagreen;
	font-size: 16px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}
